@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8jy98j');
  src:  url('../fonts/icomoon.eot?8jy98j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8jy98j') format('truetype'),
    url('../fonts/icomoon.woff?8jy98j') format('woff'),
    url('../fonts/icomoon.svg?8jy98j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fan-propellers:before {
  content: "\e906";
}
.icon-hdd:before {
  content: "\e907";
}
.icon-headphone:before {
  content: "\e908";
}
.icon-graphics-card:before {
  content: "\e909";
}
.icon-hardware:before {
  content: "\e90a";
}
.icon-battery-full:before {
  content: "\e90b";
}
.icon-case-data:before {
  content: "\e90c";
}
.icon-video-solid:before {
  content: "\e90d";
}
.icon-speaker:before {
  content: "\e90e";
}
.icon-settings:before {
  content: "\e90f";
}
.icon-memory-solid:before {
  content: "\e910";
}
.icon-microchip-solid:before {
  content: "\e911";
}
.icon-microphone-solid:before {
  content: "\e912";
}
.icon-monitor:before {
  content: "\e913";
}
.icon-mouse:before {
  content: "\e914";
}
.icon-keyboard:before {
  content: "\e915";
}
.icon-lamp:before {
  content: "\e916";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-discord:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
}
.icon-twitch:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
