html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: $primary;
  font-size: 100%;
}

#wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;


  main {
    flex-grow: 1;
  }
}

@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    background-color: $secondary;
    color: $white;
}

::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background: $primary;
}

/* Track */
::-webkit-scrollbar-track {
  background: $tertiaire;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $vert;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $vert;
}

::-webkit-scrollbar-thumb:horizontal{
    background: $primary;
    border-radius: 10px;
}

:root{
  scrollbar-color: $vert #f1f1f1 !important;
  scrollbar-width: thin !important;
}
